html {
    text-align: center;
}

h1 {
    color: orangered;
    font-size: 45px;
    margin-top: 40px;
}

#ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
}

input {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}

button {
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#print {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 20px;
}